<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>nutrition</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>ChargerPageNutrition</display-name>
    <servlet-name>ChargerPageNutrition</servlet-name>
    <servlet-class>com.jimmy.servlets.ChargerPageNutrition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargerPageNutrition</servlet-name>
    <url-pattern>/nutrition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnecterUtilisateur</display-name>
    <servlet-name>ConnecterUtilisateur</servlet-name>
    <servlet-class>com.jimmy.servlets.ConnecterUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnecterUtilisateur</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnecterUtilisateur</display-name>
    <servlet-name>DeconnecterUtilisateur</servlet-name>
    <servlet-class>com.jimmy.servlets.DeconnecterUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnecterUtilisateur</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterUtilisateur</display-name>
    <servlet-name>AjouterUtilisateur</servlet-name>
    <servlet-class>com.jimmy.servlets.AjouterUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterUtilisateur</servlet-name>
    <url-pattern>/creationUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherMoisPrecedent</display-name>
    <servlet-name>AfficherMoisPrecedent</servlet-name>
    <servlet-class>com.jimmy.servlets.AfficherMoisPrecedent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherMoisPrecedent</servlet-name>
    <url-pattern>/moisPrecedent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherMoisSuivant</display-name>
    <servlet-name>AfficherMoisSuivant</servlet-name>
    <servlet-class>com.jimmy.servlets.AfficherMoisSuivant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherMoisSuivant</servlet-name>
    <url-pattern>/moisSuivant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajouter</display-name>
    <servlet-name>Ajouter</servlet-name>
    <servlet-class>com.jimmy.servlets.Ajouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter</servlet-name>
    <url-pattern>/ajouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterActivite</display-name>
    <servlet-name>AjouterActivite</servlet-name>
    <servlet-class>com.jimmy.servlets.AjouterActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterActivite</servlet-name>
    <url-pattern>/ajouterActivite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterAlimentConsomme</display-name>
    <servlet-name>AjouterAlimentConsomme</servlet-name>
    <servlet-class>com.jimmy.servlets.AjouterAlimentConsomme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterAlimentConsomme</servlet-name>
    <url-pattern>/ajouterAlimentConsomme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FiltrerListeAlimentConsomme</display-name>
    <servlet-name>FiltrerListeAlimentConsomme</servlet-name>
    <servlet-class>com.jimmy.servlets.FiltrerListeAlimentConsomme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiltrerListeAlimentConsomme</servlet-name>
    <url-pattern>/filtrerListeAlimentConsomme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterAliment</display-name>
    <servlet-name>AjouterAliment</servlet-name>
    <servlet-class>com.jimmy.servlets.AjouterAliment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterAliment</servlet-name>
    <url-pattern>/creerAliment</url-pattern>
  </servlet-mapping>
</web-app>